<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DSN" value="uS+M0MNBAVdMJfPnwPheXYnuJAEJ2vL7qc1XFzAdQW/nYbrBzBrPEaDC760euZB4BDuFSiLm/V53y1LUp/NjwpJkMM66DuxK" />
    <add key ="FilePath" value="C:\Users\robertlan\Documents\Visual Studio 2017\Projects\openid\openid\ExportData\" />
    <add key ="LogPath" value="C:\Users\robertlan\Documents\Visual Studio 2017\Projects\openid\openid\ExportData\Log\" />
  </appSettings>
</configuration>